body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

input,
button {
  padding: 0.2rem 0.5rem;
}

p {
  margin: 0.5rem 0;
}

.controls_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
